# Dependencies
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build outputs
dist
build
out
*.tsbuildinfo

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
.env.local
.env.*.local

# Testing
coverage
.nyc_output
*.lcov

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# OS
Thumbs.db
.DS_Store

# Examples
examples/*/node_modules
examples/*/dist
examples/*/.next
examples/*/out
examples/*/.angular

# Misc
.cache
.turbo
.changeset
polystate.zip

# nx
.nx/
